(
    logs: [
        "event-log/*/*"
    ],

    reporters: [
        Plugin(
            library: "target/debug/deps/libnecsim_plugins_common.so",
            reporters: [Biodiversity()],
        ),
        Plugin(
            library: "target/debug/deps/libnecsim_plugins_species.so",
            reporters: [Species(
                output: "species.sqlite",
            )],
        ),
    ],
)
