(
    logs: [ "event-log/*/*" ],

    reporters: [
        Plugin(
            library: "target/release/deps/libnecsim_plugins_common.so",
            reporters: [Execution(), Progress(), Biodiversity()],
        ),
    ],
)
