(
    speciation: 0.1,
    seed: 42,
    sample: 1.0,

    algorithm: SkippingGillespie(
        parallelism_mode: Lockstep,
    ),

    log: "event_log",

    scenario: AlmostInfinite(
        radius: 1000,
        sigma: 1.0,
    )
)
