(
    speciation: 0.01,
    sample: 1.0,
    seed: 42,

    algorithm: Independent(
        partition_mode: Isolated(
            rank: 6,
            partitions: 7,
        )
    ),

    log: "event_log",

    scenario: NonSpatial(
        area: (10, 10),
        deme: 100,
    ),
)
