(
    speciation: 0.01,
    sample: 0.00000025,
    seed: 42,

    scenario: SpatiallyExplicit(
        habitat: "maps/madingley/fg0size12/habitat.tif",
        dispersal: "maps/madingley/fg0size12/dispersal.tif",
    ),
    
    algorithm: Classical(),
    
    reporters: [
        Plugin(
            library: "libnecsim_plugins_common.so",
            reporters: [Biodiversity()],
        ),
        Plugin(
            library: "libnecsim_plugins_species.so",
            reporters: [Species(
                output: "species.sqlite",
            )],
        ),
    ],
)
