(
    log: EventLog(
        /* selection of event log segments which will be analysed in the replay */
        segments: [
            /* a PathBuf which can contain Unix glob patterns
            *  e.g. use "event_log / ** / *" (without spaces)
            * where the event log was stored to the "event_log" directory */
            (GlobPathBuf),
        ],
        /* in-memory buffering capacity of each log segment
         * a higher capacity will batch up disk read calls but use more RAM */
        /* optional, default = 100000 */
        capacity: (0 < usize),
    ),
    
    /* selection of replay reporting mode
     * optional, default = Strict */
    mode: (
        /* only allow reporters for which all event types were recorded */
      | Strict
        /* warn if not all event types were recorded for selected reporters */
      | WarnOnly
    ),

    /* selection of the reporters which will analyse the replay of the simulation log
     *
     * the selection must be compatible with the reporter selection
     *  which was used to record the simulation to the event log */
    reporters: [
        /* loads a single dynamic reporter plugin */
        Plugin(
            /* path to the dynamic library which defined the plugin */
            library: (PathBuf),
            /* selection of the reporters defined by this plugin */
            reporters: [
                /* initialisation of a single reporter named 'ReporterName'
                 *  with arguments arg.. */
                ReporterName(args..)
            ]
        )
    ]
)
