(
    log: EventLog(
        segments: [ "event-log/**/*" ],
    ),

    reporters: [
        Plugin(
            library: "plugins/common.so",
            reporters: [Execution(), Progress(), Biodiversity()],
        ),
    ],
)
